/* helpers/accessibility.css */

.invisible {
  left: -999px;
  overflow: hidden;
  position: absolute;
  top: -999px;
}

/* helpers/align.css */

.align {
  display: grid;
  place-items: center;
}

/* layout/base.css */

:root {
  --body-background-color: #82a8ee;
  --body-color: #97adc6;
}


/* modules/anchor.css */

a {
  color: inherit;
  outline: 0;
}

/* modules/icon.css */

.icons {
  display: none;
}

ul li a .icon {
  block-size: 1em;
  display: inline-block;
  fill: currentcolor;
  inline-size: 1em;
  vertical-align: middle;
  transform: translateY(-14px);
}

.icon--2x {
  font-size: 2rem;
}

/* modules/image.css */

svg {
  max-inline-size: 100%;
}

/* modules/navigation.css */

:root {
  --navigation-background-color: #f0f6ff;
  --navigation-border-radius: 0.25em;

  --navigation-anchor-padding: 1.5em;
}

.navigation {
  background-color: var(--navigation-background-color);
  border-radius: var(--navigation-border-radius);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  background-color:rgba(15, 15, 15, 0.897)
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: var(--navigation-anchor-padding);
  position: relative;
  text-decoration: none;
  width: 95px;
  display: flex;
  justify-content: center;
  color: white;
}

.navigation a:focus::after,
.navigation a:hover::after {
  opacity: 1;
}
.navigation a:hover .title-span-click{
    display: block;
}

.navigation a::after {
  block-size: 100%;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  content: '';
  inline-size: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s;
}

.navigation--inline ul {
  display: flex;
  color: #f2f2f2;
}
.title-span-click{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 6px;
    display:none;
    font-size: 19px;
}
.mobie-alert{
  height: 50px;
}